:root {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    display: grid;
    width: min-content;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    background-color: black;
    gap: 1px;
}

.board-button {
    font-size: x-large;
    border: none;
}

.board-button:hover {
    scale: 1.1;
    border: 1px solid black;
}
